@import "bootstrap.less";
@import "responsive.less";

.container {
    width: 940px;
    max-width: 940px;
    min-width: 940px;
}

.jumbotron {
    position: relative;
    
    h1 {
        margin-bottom: 9px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
    }
    
    p {
        margin-bottom: 18px;
        font-weight: 300;
    }
}

.subhead {
    h1 {
        font-size: 54px;
    }
}

#navigator {
    .current {
        margin-bottom: 20px;
    }
    
    .upcoming {        
        .span4 {
            text-align: center;
            position: relative;
            min-height: 300px;
        }
    }

    .image-holder {
        margin-right: 15px;
        height: 300px;
        width: 300px;
        
        .sp-image {
            height: 300px;
            width: 300px;
        }
    }
    
    .info-pane {
        height: 300px;
        position: relative;
    
        h1 {
            font-size: 40px;
        }
        
        .bio {
            height: 128px;
            overflow-y: auto;
            position: relative;
            z-index: 2;
        }
        
        .artist-images-container {
            position: absolute;
            height: 100px;
            left: 315px;
            z-index: 1;
            bottom: 0px;
            overflow-x: hidden;
            overflow-y: hidden;
            width: 625px;
        }
        
        #artist-images {
            width: 725px;
        }
    }
}